body {
    background-color: rgb(233, 233, 233);
    text-align: center;
}
ul {
    text-align: center;
}

.list-1 {
    margin-left: 41%;
    margin-right: 43%;
}
h1 {
    color: brown;
}

h2 {
    color: blueviolet; 
}

h3 {
    color: darkolivegreen;
}

.text-left {
    text-align: left;
}
